* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#main-section {
    background-image: url(../images/jim-portfolio/hi-res/urban-hi-res-3q76.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 20px;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.header {
    font-size: 30px;
    color: white;
    left: 15%;
}

.button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: solid 3px white;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    transition:
    background-color .5s,
    color .5s;
    position: relative;
}

.button a:hover {
    background-color: grey;
    border: grey;
    color: white;
}

.gallery {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.gallery-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border: 10px solid #333333;
}

.gallery-photos img {
    width: 100%;
    border: black solid 4px;
    border-radius: 5px;
}

#card-1 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 35vw;
    box-shadow: -4px 4px 12px darkgrey;
    background: linear-gradient(
        -50deg,
        rgb(23, 1, 37),
        rgb(58, 37, 116),
        rgb(96, 5, 223)
    );
    border-radius: 15px;
    font-size: 16px;
    align-items: center;
    margin: 15px;
    color: white;
}

#card-2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 35vw;
    box-shadow: -4px 4px 12px darkgrey;
    background: linear-gradient(
        -50deg,
        rgb(23, 1, 37),
        rgb(58, 37, 116),
        rgb(96, 5, 223)
    );
    border-radius: 15px;
    font-size: 16px;
    align-items: center;
    margin: 15px;
    color: white;
}

#card-3 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 35vw;
    box-shadow: -4px 4px 12px darkgrey;
    background: linear-gradient(
        -50deg,
        rgb(23, 1, 37),
        rgb(58, 37, 116),
        rgb(96, 5, 223)
    );
    border-radius: 15px;
    font-size: 16px;
    align-items: center;
    margin: 15px;
    color: white;
}

.cards {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.cards a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    border-radius: 4px;
    background: white;
    padding: 10px;
    margin-bottom: 8px;
    border: 3px solid white;
    transition: 
    background-color .5s,
    color .5s;
}

.cards a:hover {
    background-color: rgb(201, 184, 246);
    border: rgb(201, 184, 246);
    color: black;
}