* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "image-holder main-image content";
}

#header {
    text-align: center;
    padding-left: 200px;
    font-size: 15px;
}

#header #bay {
    font-size: 26px;
    color: lineargradient(25deg, red, orange);
}

#column-1 {
    padding-top: 20px;
    grid-area: image-holder;
}

#column-2 {
    color: black;
    grid-area: main-image;
}

#column-3 {
   grid-area: content;
 }

.image-holder {
   width: 150px;
   margin-left: 35px;

}

#image-holder img:hover {
    background-color: grey;
    border-radius: 20px;
    padding: 15px;
}

.inuyasha-image {
    width: 59%;
    border-radius: 15px;
    padding: 5px;

}

.main-image {
    width: 455px;
    height: 455px;
    border-radius: 15px;
}

.profile-info h4  {
    border: solid green;
    background-color: green;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    border-width: 15px;
}

.profile-info h3 {
    display: inline-block;
    margin-left: 8px;
    text-decoration: underline;
    font-size: 13px;
}

#content {
    margin-right: 10px;
}

.buy-now {
    background-color: blue;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 50px;
}

.add-to-cart {
    border: solid lightskyblue;
    padding: 20px;
    color: blue;
    text-align: center;
    border-radius: 50px;
}

.add-to-wishlist {
    border: solid lightskyblue;
    padding: 20px;
    color: blue;
    text-align: center;
    border-radius: 50px;
}
