/* Drill 1 - Write your code solution below */
.d1-container {
    border: 3px solid black;
}

#d1-container1 {
    border: 3px solid black;
}
/* Drill 2 - Write your code solution below */
#d2-p1 {
    border: dotted 10px red;
}

#d2-p2 {
    border: dashed 5px green;
}

/* Drill 3 - Write your code solution below */
.d3-h2 {
    border-bottom: 3px solid black;
}


/* Drill 4 - Write your code solution below */
#d4-navbar {
    border-bottom: 5px solid black;
    background-color: orange;
}


/* Drill 5 - Write your code solution below */
.d5-div {
    border: solid 20px teal;
    border-radius: 10%;
}


/* Drill 6 - Write your code solution below */
#d6-div-1 {
    background-color: lightcoral;
    border-radius: 20px 20px 0px 20px;
}

#d6-div-2 {
    background-color: lightblue;
    border-radius: 20px 20px 20px 0px;
}


/* Drill 7 - Write your code solution below */
#d7-img-1 {
    border-radius: 8px 60px 8px 60px;
}

#d7-img-2 {
    border-radius: 60px 8px 60px 8px;
}
