* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#gallery-container-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: grid;
    border: 3px solid black;
    padding: 12px;
    margin: 36px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card:hover {
    background: linear-gradient(25deg, orange, red);
    box-shadow: 4px 4px 4px #000;
    transform: translatey(-10px);
}

.card {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

.image-holder .images {
    width: 335px;
    height: 275px;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}

#gallery-container-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-2 {
    flex: 300px;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.card-2:hover {
    background: linear-gradient(35deg, yellow, rgb(6, 75, 121));
    box-shadow: 4px 4px 4px #000;
}

.card-2 a {
    text-decoration: none;
    color: black;
    display: grid;
    border: 3px solid black;
    padding: 12px;
    margin: 36px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-2 .images-2 {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.5s,
        visibillity 0.5s,
        transform 0.5s;
}

.card-2:hover .images-2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.image-holder-2 .images-2 {
    width: 225px;
    height: 375px;
    align-items: center;
}

#gallery-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-1 {
    flex: 300px;
    min-height: 250px;
    position: relative;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.content-container {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.card-1-front-1,
.card-1-back-1 {
    border-radius: 12px;
    padding: 24px;
}
 
.card-1-front-1 {
    border-radius: 12px;
    width: 515px;
    height: 100%;
    position: absolute;
    transition: transform 0.25s 0.25s;
}
 
.card-1-back-1 {
    height: 100%;
    width: 515px;
    transform: scaleX(0);
    transition: transform 0.25s;
    min-height: 250px;
}
 
.card-1:hover .card-front-1 {
    transform: scaleX(0);
    transition: transform 0.25s;
}
 
.card-1:hover .card-back-1 {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

#ad .card-front-1 {
    background-image: url("../images/american-dad-1.jpg");
    background-size: cover;
    background-position: center center;
}

#ad .card-back-1 {
    background-image: 
        linear-gradient(#ffffffdd, #ffffffdd),
        url("../images/american-dad-1.jpg");
    background-size: cover;
    background-position: center center;
}

#ad .card-front-2 {
    background-image: url("../images/family-guy-2.avif");
    background-size: cover;
    background-position: center center;
}

#ad .card-back-2 {
    background-image: 
        linear-gradient(#ffffffdd, #ffffffdd),
        url("../images/family-guy-2.avif");
    background-size: cover;
    background-position: center center;
}

#ad .card-front-3 {
    background-image: 
        url("../images/rick-and-morty-3.jpg");
    background-size: cover;
    background-position: center center;
}

#ad .card-back-3 {
    background-image: 
        linear-gradient(#ffffffdd, #ffffffdd),
        url("../images/rick-and-morty-3.jpg");
    background-size: cover;
    background-position: center center;
}

#ad .card-front-4 {
    background-image: 
        url("../images/the-simpsons-4.jpg");
    background-size: cover;
    background-position: center center;
}

#ad .card-back-4 {
    background-image: 
        linear-gradient(#ffffffdd, #ffffffdd),
        url("../images/the-simpsons-4.jpg");
    background-size: cover;
    background-position: center center;
}
 
.card-front-2,
.card-back-2 {
    border-radius: 12px;
    padding: 24px;
}
 
.card-front-2 {
    border-radius: 12px;
    width: 475px;
    height: 100%;
    position: absolute;
    transition: transform 0.25s 0.25s;
}
 
.card-back-2 {
    height: 100%;
    width: 475px;
    transform: scaleX(0);
    transition: transform 0.25s;
    min-height: 250px;
}
 
.card-2:hover .card-front-2 {
    transform: scaleX(0);
    transition: transform 0.25s;
}
 
.card-2:hover .card-back-2 {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

.card-front-3,
.card-back-3 {
    border-radius: 12px;
    padding: 24px;
}
 
.card-front-3 {
    border-radius: 12px;
    width: 515px;
    height: 100%;
    position: absolute;
    transition: transform 0.25s 0.25s;
}
 
.card-back-3 {
    height: 100%;
    width: 515px;
    transform: scaleX(0);
    transition: transform 0.25s;
    min-height: 250px;
}
 
.card-3:hover .card-front-3 {
    transform: scaleX(0);
    transition: transform 0.25s;
}
 
.card-3:hover .card-back-3 {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}

.card-front-4,
.card-back-4 {
    border-radius: 12px;
    padding: 24px;
}
 
.card-front-4 {
    border-radius: 12px;
    width: 515px;
    height: 100%;
    position: absolute;
    transition: transform 0.25s 0.25s;
}
 
.card-back-4 {
    height: 100%;
    width: 515px;
    transform: scaleX(0);
    transition: transform 0.25s;
    min-height: 250px;
}
 
.card-4:hover .card-front-4 {
    transform: scaleX(0);
    transition: transform 0.25s;
}
 
.card-4:hover .card-back-4 {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}