* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgba(247, 219, 219, 0.533);
}

#header {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    padding: 15px;
    color: black;
}

#sub-header {
    text-align: center;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px;
    padding: 15px;
    color: black;
}

#hosts {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    padding: 8px;
    
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    color: black;
    padding: 48px;
} 

.card-container {
    display: flex;
    justify-content: space-between;
} 

.card {
    flex: 1;
    padding: 36px;
    text-align: center;
    margin: 36px;
}

.card h3 {
    font-size: 36px;
    margin: 8px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding: 10px;
}

.card .game-img {
    width: 355px;
    height: 485px;
}

#card-section #vs {
    font-size: 25px;
    padding-top: 225px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#party-info #party-header {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
}

#party-info #party-details {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
}

#party-info #adress-time {
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
}

#party-info #extra-info {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 35px;
}

#party-info #adress-time #rsvp-button a {
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(177, 177, 212);
    border-radius: 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    transition: 
    background-color .5s,
    color .5s;
}

#party-info #adress-time #rsvp-button-2 a {
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 15px;
    margin-top: 25px;
    background-color: rgb(177, 177, 212);
    transition: 
    background-color .5s,
    color .5s;
}

#party-info #adress-time #rsvp-button:hover a {
    background-color: rgb(113, 113, 197);
    color: white;
    transition: 
        background-color .5s,
        color .5s;
}

#party-info #adress-time #rsvp-button-2:hover a {
    background-color: rgb(113, 113, 197);
    color: white;
    transition: 
        background-color .5s,
        color .5s;
}