* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#My-Favorite-Colors-heading {
    font-family:cursive;
    text-align:center;
}
#light-green-area {
    font-family: cursive;
    text-align: center;
    padding: 24px;
}
# {
    font-family: cursive;
    text-align: center;
}