/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card-style-1 {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #edfeee;
}

.card-style-1 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-style-1 h2 {
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
    background-color: #edfeee;
}

.card-style-1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #008000;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 3px solid #008000;
    transition: 
        background-color .5s,
        color .5s;
}

.card-style-1 a:hover {
    background-color: #edfeee;
    color: black;
}

.card-style-1 p {
    margin-left: 30px;
    margin-right: 30px;
}