/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-container {
    display: flex;
    gap: 30px;
}

.animagram-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card-style-2 img {
    width: 50%;
    border-radius: 50%;
}

.card-style-2 h2 {
    text-align: center;
}

.card-style-2 p {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.logo {
    margin: 5px;
}

.card-style-2 {
    width: 350px;
    background-color: white;
    border-radius: 35px;
}

.animagram-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.profile-pic-container {
    text-align: center;
    width: 100%;
}

.animagram-footer {
    justify-content: space-between;
    margin: 25px;
    font-size: 25px;
    display: flex;
}

.brand-name {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}